<% layout("/layouts/boilerplate") %>
<body>
    <h3>Edit Placelist </h3>
    <form method="post" action="/placelist/<%=place._id%>?_method=put">
        <input name="placelist[title]" value="<%=place.title%>" type="text">
        <br><br>
        <textarea name="placelist[description]"><%=place.description%></textarea>
        <br>
        <input name="placelist[image]" value="<%=place.image%>" type="text">
        <br><br>
        <input name="placelist[price]" value="<%=place.price%>" type="number">
        <br><br>
        <input name="placelist[country]" value="<%=place.country%>" type="text">
        <br><br>
        <input name="placelist[location]" value="<%=place.location%>" type="text">
        <br><br>
        <button>Edit</button>
    </form>
</body>