<% layout("/layouts/boilerplate") %>
<body>
    <h3>LISTING DETAILS</h3>
    <ul>
        <li><%=place.title%></li>
        <li><%=place.description%></li>
        <li>&#8377; <%=place.price.toLocaleString("en-IN")%></li>
        <li><%=place.location%></li>
        <li><%=place.country%></li>
    </ul>
    <br>
    <a href="/placelist/<%=place._id%>/edit">Edit Placelist</a>
    <br><br>
    <form method="post" action="/placelist/<%=place._id%>?_method=DELETE">
        <button>Delete this Placelist</button>
    </form>
</body>
