<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelNest</title>
</head>
<body>
    <h3>LISTING DETAILS</h3>
    <ul>
        <li><%=place.title%></li>
        <li><%=place.description%></li>
        <li>&#8377; <%=place.price.toLocaleString("en-IN")%></li>
        <li><%=place.location%></li>
        <li><%=place.country%></li>
    </ul>
    <br>
    <a href="/placelist/<%=place._id%>/edit">Edit Placelist</a>
</body>
</html>